name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: |
          /usr/bin/sw_vers -productVersion
          brew install openssl@1.1 glib-openssl mysql-client mysql-connector-c++ openssl@3
          ./brew-universalize openssl@1.1 glib-openssl mysql-client mysql-connector-c++ openssl@3
          find $(brew --prefix)/Cellar/openssl@1.1 -iname '*.dylib' -not -iname '*.arm64.dylib' -not -iname '*.x86_64.dylib' -type f -exec otool -arch all -L {} \;
